:host {
  text-align: center;
  min-width: 100px;
  max-width: 160px;
}

.chart {
  display: inline-block;
  width: 100%;
}

.circle {
  position: relative;
}

h3 {
  color: var(--color-primary);
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 41px;
  text-transform: uppercase;
  margin: 20px 0 0;
}

svg {
  width: 100%;
  height: 100%;
}

circle {
  stroke: var(--color-chart, #eee);
  transform: rotate(-90deg);
  fill: rgba(0, 0, 0, 0);
}

circle:nth-of-type(2n) {
  stroke: var(--color-primary, yellow);
}

text {
  color: var(--skills-chart-font-color, #666);
  font-family: inherit;
  font-size: 48px;
  font-weight: 100;
}
