<template>
  <style scoped>@import url("components/x-chart/style.css")</style>
  <div class="chart">
    <div class="circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="160"
        height="160"
        viewBox="0 0 160 160"
      >
        <circle
          stroke-width="10"
          r="74"
          cx="-80"
          cy="80"
        ></circle>
        <circle
          stroke-width="10"
          r="74"
          cx="-80"
          cy="80"
        ></circle>
        <text x="40" y="95"></text></svg>
    </div>
    <h3></h3>
  </div>
</template>
<script src="script.js"></script>
